<!DOCTYPE html>
<html>
  <% include static/head %>
  <body>
    <% include static/topNav %>

<div class="container">
    <div class="page-header">
        <h1>Jacky <small>一个前端开发，目前在倒腾node.js</small></h1>
    </div>
    <h2></h2>
    <div class="well">
        <div class="hero-unit">
            <h1></h1>
            <p>
                 本吐槽网基于node.js+express+mongo构建，有兴趣者请与我联系。
            </p>
        </div>
    </div>

    <% include static/footer %>
</div>

    </body>
</html>