<!DOCTYPE html>
<html>
  <% include static/head %>
  <body>
    <% include static/topNav %>

<div class="container">
    <div class="page-header">
        <h1>Jacky <small>一个前端开发，目前在倒腾node.js</small></h1>
    </div>
    <h2></h2>

    <div class="alert alert-error">
        <a class="close" data-dismiss="alert">×</a>
        <strong>联系邮箱</strong> liyangwood@gmail.com
    </div>

    <div class="alert alert-success">
        <a class="close" data-dismiss="alert">×</a>
        <strong>联系邮箱</strong> liyangwood@gmail.com
    </div>

    <div class="alert alert-info">
        <strong>联系邮箱</strong> liyangwood@gmail.com
    </div>

    <% include static/footer %>
</div>


  </body>
</html>